attrs==24.2.0
blinker==1.8.2
cattrs==24.1.2
click==8.1.7
docstring-to-markdown==0.15
Flask==3.0.3
Flask-Cors==5.0.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
lsprotocol==2023.0.1
MarkupSafe==3.0.2
parso==0.8.4
pluggy==1.5.0
python-lsp-jsonrpc==1.1.2
python-lsp-ruff==2.2.2
python-lsp-server==1.12.0
ruff==0.7.2
ujson==5.10.0
Werkzeug==3.1.2
