asttokens==2.4.1
attrs==24.2.0
blinker==1.8.2
cattrs==24.1.2
click==8.1.7
decorator==5.1.1
docstring-to-markdown==0.15
executing==2.1.0
Flask==3.0.3
Flask-Cors==5.0.0
iniconfig==2.0.0
ipdb==0.13.13
ipython==8.29.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
lsprotocol==2023.0.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
packaging==24.1
parso==0.8.4
pexpect==4.9.0
pluggy==1.5.0
prompt_toolkit==3.0.48
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pytest==8.3.3
python-lsp-jsonrpc==1.1.2
python-lsp-ruff==2.2.2
python-lsp-server==1.12.0
ruff==0.7.2
six==1.16.0
stack-data==0.6.3
traitlets==5.14.3
ujson==5.10.0
wcwidth==0.2.13
Werkzeug==3.1.2
